## 0. 변수의 자료형

**< 변수의 type >**
- str(string): 문자형
- int(integer): 정수형
- float(Floating-point): 실수형
- bool: 논리형(True, False)

파이썬에서는 변수 선언이 필요 없음.
변수 중복 사용 불가. 그냥 늘 새로 덮어씌워 짐

In [8]:
# 변수는 좌변에 위치
# 상수는 우변에 위치
count = 10
count = 20

print(type(count))

<class 'int'>

In [9]:
count

20

In [10]:
20 = count
# 상수는 바뀔 수 없음
# 변수는 숫자로 시작할 수 없음 (첫 글자에 숫자가 오면 안 됨) ==> 에러 뜸

SyntaxError: can't assign to literal (<ipython-input-10-26d91706a944>, line 1)

In [49]:
# type(변수 또는 상수) 자료형이 무엇인지 출력하는 함수
print(type(10))
print(type(10.5))
print(type('hello'))

<class 'int'>
<class 'float'>
<class 'str'>

In [11]:
# 파이썬은 가변자료형. 우변의 값에 따라 자료형이 계속해서 바뀔 수 있음 (자료형 선언 x)
# 파이썬은 대소문자가 중요. 지켜줘야 함.
# 하지만 한 변수의 계속 자료형을 바꾸는 것은 오류날 수도 있으므로 자주 바꾸지 말자

count = 'A'
print(count)
print(type(count))

A
<class 'str'>

In [12]:
count=10.5
print(count)
print(type(count))

10.5
<class 'float'>

In [13]:
count=True
print(count)
print(type(count))

True
<class 'bool'>

## 1. 숫자형

In [2]:
1+2 #덧셈

3

In [3]:
3/2.4 
# 나눗셈(실수몫)

1.25

In [4]:
3//2.4 
# 나눗셈(정수몫)

1.0

In [5]:
3*9 
# 곱셈
# 3X9로 입력 시 에러 발생

27

In [6]:
# toggle
# Ctrl+A 단체선택
# Ctrl+/ 주석처리/해제

In [7]:
'''
주석처리
'''
"""
주석처리
"""

'\n주석처리\n'

In [18]:
a = 10
print(a)
a += 1 # a = a+1
print(a)
a += 5
print(a)

10
11
16

In [19]:
a = 10
a -= 1 # a = a-1
print(a)

9

In [20]:
# a = 10
# a++ # 에러. ++나 --라는 문법은 없음
# print(a)

In [28]:
a = 3
b = 4
a**b # 제곱

81

In [14]:
a = 10
b = 20
c = 30

In [15]:
a
b
c

30

In [16]:
# 셀 한 개에 하나의 값만 출력하기 때문에 마지막 줄의 값만 출력함
# 모든 값을 출력하여 보고 싶다면 print 함수를 사용해야 함

In [17]:
print(a)
print(b)
print(c)

10
20
30

In [32]:
# a에 10, b에 20을 대입하기
a,b = 10,20
print(a,b)
# 오른쪽에서 왼쪽으로 대입
i=j=k=10
print(i,j,k)

10 20
10 10 10

In [33]:
a,b = 10,20
print(a,b)
# a에 b, b에 a
a,b = b,a # 제일 간단한 문법. 동시에 처리해 줌
print(a,b)

10 20
20 10

In [34]:
a = 10
b = 20
print(a,b)
b = a # 이 과정에서 이미 b는 a값이 됨 (덮어씌워 짐)
a = b
print(a,b)

10 20
10 10

In [35]:
a = 10
b = 20
temp = 0 # 백업용 임시변수
print(a,b)
temp = b
b = a 
a = temp
print(a,b)

10 20
20 10

In [36]:
# b=2
# print(b)
# del b => 변수 b를 삭제함
# print(b) ==> 존재하지 않는 변수가 되어 에러가 뜸

In [37]:
# 나머지 연산자
print(7%3) # 7을 3으로 나눈 나머지
print(7/4) # 7을 4로 나눈 실수몫
print(7//4) # 7을 4로 나눈 정수몫

1
1.75
1

In [38]:
a = 10
print(type(a), a)
# 자료형 변환
a = float(a)
print(type(a), a)

<class 'int'> 10
<class 'float'> 10.0

In [39]:
a = 10.5
print(type(a), a)
# 자료형 변환
a = int(a)
print(type(a), a)

<class 'float'> 10.5
<class 'int'> 10

In [45]:
s = 8/int(3) # 8을 정수 3으로 나누겠다
print(s)

2.6666666666666665

### math 모듈

In [40]:
import math

# 나눗셈 올림, 버림 등을 지정하고 싶을 때 기본 파이썬에서는 불가능
# math 모듈을 로딩해야 함
# round 함수는 math 모듈 불러오지 않아도 가능

a = 10.3
print(math.ceil(a)) # 올림

a = 10.5
print(round(a)) # 반올림

a = 10.9
print(math.floor(a)) # 버림

11
10
10

In [41]:
a = 10.3
print(type(math.ceil(a))) #올림
print(math.ceil(a))

a = 10.5256

print(round(a,0)) # 반올림
print(round(a,1)) # 소수점아래 첫째자리까지 출력 (둘째자리에서 반올림)
print(round(a,3)) # 소수점아래 셋째자리까지 출력 (넷째자리에서 반올림)

a = 10.9
print(math.floor(a)) #버림

<class 'int'>
11
11.0
10.5
10.526
10

## 2. 문자열 자료형

In [21]:
a = "파이썬" # 문자는 작은따옴표 또는 큰따옴표로 묶음
print(a)

파이썬

In [22]:
a = 'python'
print(a)

python

In [23]:
# 따옴표를 문자 처리 하는 방법 1) 따옴표 앞에 역슬래시를 입력한다.
# 이스케이프 코드
hello = "철수는 말했다. \"영희야 안녕??\""
print(hello)

철수는 말했다. "영희야 안녕??"

In [24]:
# 따옴표를 문자 처리 하는 방법 2) 작은 따옴표 안에 큰 따옴표 or 큰 따옴표 안에 작은 따옴표
hello2 = '영희는 대답했다. "안녕"'
print(hello2)

영희는 대답했다. "안녕"

In [26]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때 
# 1) \n을 사용
akmu = "어떻게 이별까지 사랑하겠어 \n널 사랑하는 거지"
print(akmu)

어떻게 이별까지 사랑하겠어
널 사랑하는 거지

In [27]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때 
# 2) 따옴표 세 번 사용
akmu2 = """
어떻게 이별까지 사랑하겠어
널 사랑
하는 거지
"""
print(akmu2)

어떻게 이별까지 사랑하겠어
널 사랑
하는 거지

In [42]:
# 이스케이프 코드를 사용하는 것 보다는 따옴표를 활용하는 것이 훨씬 편리하다.

**< 이스케이프 코드란? >**
- 프로그래밍할 때 사용하기 위해 미리 정의해 둔 "문자 조합"
- 주로 출력물을 보기 좋게 활용하기 위해 사용

### 문자열의 인덱싱과 슬라이싱

In [93]:
# 문자열을 인덱싱할 때 문자의 집합으로 인식

a = "Life is too short"
# a = ['L','i','f','e',' ','i','s',' ','t','o','o',' ','s','h','o','r','t'] 처럼 인식
# 물론 이건 완전히 다른 코드

print(a)
print(a[3]) # 문자열의 네 번째 값 (인덱스 3의 값)
print(a[-2]) # 문자열의 뒤에서 두 번째 값
print(a[0:4]) # 0, 1, 2, 3
print(a[5:]) # 인덱스 5(여섯 번째 값) ~ 끝까지
print(a[:]) # 전체

Life is too short
e
r
Life
is too short
Life is too short

### 문자열 formatting

**< 포맷팅을 쓰는 이유는? >**
- 복잡한 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것이 문자열 포매팅 기법이다.
- 두 가지 방법이 있다.
    - 1) 포맷코드를 사용한다 
    - 2) format 함수를 사용한다

In [57]:
# 1) 포맷코드를 사용하는 방법

age = 20
# %s 스트링 형식, %d 정수, #f 실수
# "문자열" % (출력할 값)
# %: format 옵션

# %s: 대입하는 값이 무엇이든 문자형으로 변형한다.

print("당신의 나이는", age, "세 입니다.")
print("당신의 나이는 %f세 입니다." % age)
print("당신의 나이는 %.0f세 입니다." % age)
print("당신의 나이는 %.2f세 입니다." % age)

당신의 나이는 20 세 입니다.
당신의 나이는 20.000000세 입니다.
당신의 나이는 20세 입니다.
당신의 나이는 20.00세 입니다.

In [58]:
age = 20
name = "김철수"
print(name, "님의 나이는", age, "세입니다.")
print("%s 님의 나이는 %d 세입니다." % (name, age))

김철수 님의 나이는 20 세입니다.
김철수 님의 나이는 20 세입니다.

In [59]:
# 2) format 함수를 사용하는 방법

age = 20
# 문자열.format(출력할 값)
print("당신의 나이는 {}세입니다.".format(age))

# 두 가지 방식을 다 사용하긴 하지만, format 함수를 더 자주 사용한다.
# 추후 코딩시 더 다양한 변동 값, 발전된 형태의 값을 입력할 수 있기 때문이다.

당신의 나이는 20세입니다.

In [60]:
age = 20
name = "김철수"
# name => {0}, age =>{1}
print("{0}님의 나이는 {1}세입니다.".format(name, age))

김철수님의 나이는 20세입니다.

In [61]:
fruit = "사과"
# fruit 변수에 저장된 값이 스트링 형식으로 출력됨
print(" 나는 %s를 좋아합니다." % fruit)

 나는 사과를 좋아합니다.

In [62]:
fruit = "사과"
# 변수의 인덱스를 생략할 수 있음
print(" 나는 {}를 좋아합니다.".format(fruit))

 나는 사과를 좋아합니다.

In [63]:
rate = 98

print("정확도: %d" % rate)
print("정확도: 98%")
print("정확도: %d%%" % rate)

# 문자열 내부에 %를 쓰고 싶을 때: %%

정확도: 98
정확도: 98%
정확도: 98%

In [64]:
point = 3.141592653
print("원주율: %f" % point)
# 실수형: 기본적으로 소수점 아래 6자리까지 표현
# 전체 자리 수.소수이하 자리수
# 전체 자리수에는 소수점도 포함됨
print("원주율: %10.3f" % point)
print("원주율: %7.2f" % point)

원주율: 3.141593
원주율:      3.142
원주율:    3.14

In [66]:
money = 1234567890
print(type(money))
print("금액:%d" % money) # 정수 형식
money = format(money,',') # 천 단위 컴머 추가
print(type(money))  # 스트링 형식으로 바뀜
print("금액:%s" % money)

<class 'int'>
금액:1234567890
<class 'str'>
금액:1,234,567,890

In [67]:
import math
print("원주율:%f" % math.pi)
print("원주율:%.7f" % math.pi)
print("원주율:%.70f" % math.pi)
# 파이썬에서 소수점 아래 숫자를 표기하는 데에는 한계가 있음
# 소수점 아래 몇 째 자리까지 표기할 때 반올림 처리

원주율:3.141593
원주율:3.1415927
원주율:3.1415926535897931159979634685441851615905761718750000000000000000000000

In [68]:
a = 100.234567
print(type(a))
print(a)
# 포매팅을 한 수의 결과값은 스트링
b = "%5.1f" % a
print(type(b))
print(b)

<class 'float'>
100.234567
<class 'str'>
100.2

In [70]:
a = 123456789.234567
print(type(a))
print(a)
# 포매팅을 한 수의 결과값은 스트링
# 전체 자리 수 5, 소수 이하 자리수 1
b = format(a,',') # 천 단위 컴머 추가
print(type(b),b)
c = b.replace(',', '') # 컴머를 찾아서 지움
print(c)
d = float(c) # 스트링을 실수형으로 변환
# 전체자리수 15자리, 소수이하 2자리
e = format("%15.2f" %d)
print(e)
f = format(d,',')
print("{0:>50}".format(e))

<class 'float'>
123456789.234567
<class 'str'> 123,456,789.234567
123456789.234567
   123456789.23
                                      123456789.23

In [71]:
import math
a = "원주율"
b = math.pi
c = "%s : %10.2f" % (a,b) # 형식을 맞춰서 포맷팅 코드를 입력하는 것이 중요
print(c)

원주율 :       3.14

In [72]:
import locale
import math

a = 123456789.12345678
print(a)
b = locale.format("%50.3f", a, grouping = True)
print(b)

123456789.12345678
                                     123456789.123

/Users/administrator/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.

In [73]:
# deprecationWarning : 향후 더이상 지원되지 않는 명령어.
# 버전이 업그레이드 되면 이 명령어를 쓰지 못함

In [74]:
age = 15
result = "나이 : {0}세".format(age)
print(result)

나이 : 15세

In [75]:
# format 함수를 포맷코드로 바꿔보기

age = 15
result = "나이: %d세" % age

print(result)

나이: 15세

In [76]:
a = 15.124
print(type(a))
b = "%f" % a

print(type(b))
print(b)

<class 'float'>
<class 'str'>
15.124000

In [79]:
a = "15"
b ="%d" % a
print(b) # ==> 에러

# 숫자를 문자열로 변환할 수는 있지만 문자를 숫자형으로 변환할 수는 없음
# 포맷팅을 하고 난 뒤에는 무조건 문자열 자료형으로 바뀜

TypeError: %d format: a number is required, not str

In [80]:
a = "15"
b ="%d" % int(a)
# 문자형으로 바뀌었던 정수를 다시 정수형으로 바꾸어서 %d 코드에 대입하면 출력 가능 
print(type(b), b) # 문자형이 됨

int(b)
print(type(b), b) # int()를 하면 순간 계산만 되고 실제 b의 자료형을 바꾸지는 않음

b = int(b) # b의 자료형을 바꾸려면 b에 다시 그 식을 대입해 주어야함
print(type(b), b)

<class 'str'> 15
<class 'str'> 15
<class 'int'> 15

In [81]:
name = "김철수"
result = "이름:{0}".format(name)
print(result)

이름:김철수

In [82]:
# format 함수를 포맷코드로 바꿔보기

name = "김철수"
result = "이름:%s" % name
print(result)

이름:김철수

In [83]:
result = "{0}님의 나이는 {1}세입니다.".format(name, age)
print(result)

김철수님의 나이는 15세입니다.

In [84]:
# 숫자 인덱스 대신 변수명을 사용할 수 있음
result = "{name}님의 나이는 {age}세입니다.".format(
    name = "김철수", age = 20)
print(result)

# 괄호 안에서는 엔터를 쳐도 이어짐

김철수님의 나이는 20세입니다.

In [85]:
# 기본 값은 왼쪽 정렬
result = "{0}".format("hi")
print(result)

hi

In [86]:
# 0:n 기본 값은 왼쪽 정렬
# 전체 자리수는 n으로 설정
result = "{0:10}".format("hi")
print(result) 
# 왼쪽 정렬이고 자리 수는 10개인 문자열

hi

In [87]:
# 0:<n 왼쪽 정렬
# 전체 자리수는 n으로 설정
result = "{0:<10}".format("hi")
print(result)

hi

In [88]:
# 0:>n 오른쪽 정렬
# 전체 자리수는 n으로 설정
result = "{0:>10}".format("hi")
print(result)

        hi

In [89]:
# 0:^n 가운데 정렬, ^ hat
# 전체 자리수는 n으로 설정
result = "{0:^10}".format("hi")
print(result)
print(len(result))

    hi
10

In [90]:
# 0:=^n 가운데 정렬이며, 공백 부분을 =로 채움
# 전체 자리수는 n으로 설정
result = "{0:=^10}".format("hi")
print(result)
result = "{0:_^10}".format("hi")
print(result)

====hi====
____hi____

In [91]:
# : 콜론, ; 세미콜론, ^ 햇, - 하이픈, _ 언더스코어, # 샵
# " 큰따옴표, ' 작은따옴표
# / 슬래시, \ 백슬래시, * 애스터리스크, & 앰퍼센드, @ at(앳)
# {인덱스:}

### 문자열 관련 함수들

#### count 함수

In [118]:
a = "hobby happy"
print(a)
# 문자열 a에서 y가 몇 개 있는 지 계산
print(a.count("y")) # count 함수

print("찾은 횟수:", a.count("o"))

hobby happy
2
찾은 횟수: 1

In [119]:
# count 함수를 for문으로 작성하면 어떻게 할 수 있을까?

a = "hobby"
c = 0 # 카운트 값을 저장할 변수
for i in a:
    # i는 원소(요소), a는 집합(클래스), 콜론은 블록의 시작
    # print (i) ==> 반복문이니 속해있는 요소를 모두 출력(기본은 한 줄에 한 요소)
    if i == "b":  # 비교 연산. i와 b가 같은지 검사
        c += 1  # c의 값을 1 증가 시킴. c = c+1과 같은 표현
        
print("찾은 횟수:", c)

# 들여쓰기가 끝나면 블록이 끝남

# 코드가 복잡해지면 for문을 활용하기 좋을테니 익숙해지자

찾은 횟수: 2

#### 문자열 인덱스 찾기 (find와 index)

In [120]:
a = "Have a nice day"
# 문자열 a에서 nice 문자열이 몇번 째 위치에 있는 지
print(a.find("nice")) 
# 시작되는 지점의 인덱스를 출력
# 파이썬은 0부터 카운트 하므로 8이 아니라 7을 출력
print(a.find("have")) # 찾는 내용이 없으면 -1

7
-1

In [121]:
a = "Life is too short"
print(a.index("too"))
# print(a.index("kind")) ==> 에러

# 인덱스 함수는 찾는 내용이 없으면 에러가 뜬다. 이것이 find와의 차이점

8

#### join

In [122]:
a = "-" # 글자 중간에 삽입할 문자
result = a.join("abcd")
print(result)

a-b-c-d

#### 대소문자 변환

In [123]:
# 대소문자 변환 함수

a = "hi"
result = a.upper() # 소문자를 대문자로
print(result)
a = "HI"
result = a.lower() # 대문자를 소문자로
print(result)
a = "python program"
result = a.capitalize() # 첫글자를 대문자로
print(result)

# 데이터 전처리 시 활용 ex) 은행 등에서 인적사항 입력할 때 자동으로 대문자로 변환되는 경우 이 함수를 사용

HI
hi
Python program

#### strip 함수

In [124]:
# 공백 지우기

a = "      hi    "
print(a)
result = a.lstrip() # left 좌측공백 제거
print(result)
result = a.rstrip() # right 우측공백 제거
print(result)
result = a.strip() # 좌우측공백 제거
print(result)

      hi
hi
      hi
hi

#### replace 함수

In [125]:
# replace: 단어 바꾸기
# 데이터 전처리 시에 많이 사용

a = "신입 개발자 신입사원"
result = a.replace("신입", "경력") # replace(A, B) A를 B로 변경
print(result)

경력 개발자 경력사원

#### split 함수

In [126]:
# split: 문자열 쪼개기
# 데이터 전처리 시에 많이 사용

a = "a:b:c:d"
result = a.split(":") # 구분자를 기준으로 쪼개어 리스트로 저장
print(result)

['a', 'b', 'c', 'd']

In [127]:
b = "1-2-3-4"
result = b.split("-") # 구분자를 기준으로 쪼개어 리스트로 저장
print(result)

['1', '2', '3', '4']

In [128]:
# csv 파일: comma separated values. field가 콤마로 구분된 파일 (엑셀로도 열 수 있음)
# 실제 데이터 분석 시에 csv 파일을 자주 활용
# 저장된 데이터를 쪼개어 리스트로 저장하여 분석에 활용하기 위해 split를 활용할 수 있음

a = "김철호,30,170"
result = a.split(",") # 구분자를 기준으로 쪼개어 리스트로 저장
print(result)

['김철호', '30', '170']

#### 문자코드 확인

In [141]:
a = 'A'
print(a)
print(ord(a))
# ord(): 문자코드

print(ord('a'))
print(ord('1'))

A
65
97
49

In [146]:
print(ord('A')) # A의 문자코드 값
print(chr(65)) # 문자코드 65의 값

65
A

In [161]:
for i in range(0, 256):
    print(i, chr(i), end =' ')

0   1  2  3  4  5  6  7  8  9 	 10
 14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32   33 ! 34 " 35 # 36 $ 37 % 38 & 39 ' 40 ( 41 ) 42 * 43 + 44 , 45 - 46 . 47 / 48 0 49 1 50 2 51 3 52 4 53 5 54 6 55 7 56 8 57 9 58 : 59 ; 60 < 61 = 62 > 63 ? 64 @ 65 A 66 B 67 C 68 D 69 E 70 F 71 G 72 H 73 I 74 J 75 K 76 L 77 M 78 N 79 O 80 P 81 Q 82 R 83 S 84 T 85 U 86 V 87 W 88 X 89 Y 90 Z 91 [ 92 \ 93 ] 94 ^ 95 _ 96 ` 97 a 98 b 99 c 100 d 101 e 102 f 103 g 104 h 105 i 106 j 107 k 108 l 109 m 110 n 111 o 112 p 113 q 114 r 115 s 116 t 117 u 118 v 119 w 120 x 121 y 122 z 123 { 124 | 125 } 126 ~ 127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160   161 ¡ 162 ¢ 163 £ 164 ¤ 165 ¥ 166 ¦ 167 § 168 ¨ 169 © 170 ª 171 « 172 ¬ 173 ­ 174 ® 175 ¯ 176 ° 177 ± 178 ² 179 ³ 180 ´ 181 µ 182 ¶ 183 · 184 ¸ 185 ¹ 186 º 187 » 188 ¼ 189 ½ 190 ¾ 191 ¿ 192 À 193 Á 194 Â 195 Ã 196 Ä 197 Å 198 Æ 199 Ç 200 È 201 É 202 Ê 203 Ë 204 Ì 205 Í 206 Î 207 Ï 208 Ð 209 Ñ 210 Ò 211 Ó 212 Ô 213 Õ 214 Ö 215 × 216 Ø 217 Ù 218 Ú 219 Û 220 Ü 221 Ý 222 Þ 223 ß 224 à 225 á 226 â 227 ã 228 ä 229 å 230 æ 231 ç 232 è 233 é 234 ê 235 ë 236 ì 237 í 238 î 239 ï 240 ð 241 ñ 242 ò 243 ó 244 ô 245 õ 246 ö 247 ÷ 248 ø 249 ù 250 ú 251 û 252 ü 253 ý 254 þ 255 ÿ

## 3. 논리형

In [43]:
hungry = True # True, False 대문자 반드시 지켜야 함
sleepy = False

print(type(hungry)) # bool: 논리형
print(hungry)
print(not hungry) # 논리부정. 변수가 완전히 부정된 형태는 아님
# "hungry = not hungry"로 지정할 경우 False로 바뀜
print(hungry and sleepy) # A and B : A,B 모두 True일 때만 True
print(hungry or sleepy) # A or B : A,B 중 한 개 이상이 True이면 True

<class 'bool'>
True
False
False
True

In [44]:
a = "True"
type(a)

str

In [45]:
b = True
type(b)

bool

In [46]:
print(type(a))
print(type(b))
print(1 and 0) # and나 or이 숫자에서도 적용될 수 있음. 파이썬에서 0은 Fasle, 나머지 값은 True로 적용됨
print(1 or 0) # 조건문에서 더 자세히 다룰 예정이니 그냥 일단 알아두자

<class 'str'>
<class 'bool'>
0
1

## 4. 비교연산자

In [47]:
a = 10
b = 20
print(a == b)

# '같다'를 나타낼 때 '=='를 사용

False

In [48]:
a = 10
b = 20
# print(a = b)

# '='은 대입의 의미이므로 이러한 문법은 적합하지 않음. 에러 발생.
# '='는 대입, '=='는 비교

In [49]:
a = 10
b = 20
print(a!=b)

# '같지 않다'를 나타낼 때 '!='를 사용

True

In [50]:
a = 1
b = 3

# if 조건식
if a == 1 and b == 3: 
    print('ok') 

# 조건식이 True이면 실행됨.
# 콜론 이후 조건문에 따른 결과 작성. 반드시 들여쓰기 되어야 적용됨.
    
if a == 1 and \
    b == 3:   
    print('ok')

# 한 줄에 다 쓰지 못할 경우 \로 연결. 나중에 식이 복잡해 질 때 활용한다.

ok
ok

In [51]:
# \n 줄바꿈 문자, 개행 문자 new line

multiline = "Hello\n\nPython"
print(multiline)

# 작은따옴표(큰따옴표) 3개
multiline = '''
    hello
    python
'''

print(multiline)

Hello

Python

    hello
    python

In [52]:
head = "파이썬은 "
tail = "재미있다."

# + 연산자는 덧셈 연산자
# 문자열 + 문자열 => 문자열 연결
# 두 변수를 붙여서 쓰는 경우가 많음

print(head + tail)

파이썬은 재미있다.

In [53]:
name = "김철수"
age = 20

# 문자열 + 숫자 => 에러 발생
# 같은 자료형끼리만 더할 수 있음

# print("이름:" + name + ", 나이:" + age) ==> 에러 발생

In [54]:
name = "김철수"
age = 20

# str(숫자) : 숫자를 문자열로 변환

print("이름:" + name + ", 나이:" + str(age))

이름:김철수, 나이:20

In [55]:
a = 10
b = 20
a*b

200

In [56]:
a = "파이썬"
print(a*2) # a 문자열의 내용이 2회 반복됨 
print(a*3) # a 문자열의 내용이 3회 반복됨

print("="*50)
print("My Program")
print("="*50)

파이썬파이썬
파이썬파이썬파이썬
==================================================
My Program
==================================================